# Flask instance folder (for configs/secrets)
instance/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc
*.env

# SQLite DB
*.sqlite3
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# PyInstaller
*.spec
